Django==1.9
django-classy-tags==0.8.0
django-cms==3.4.4
django-crispy-forms==1.6.1
django-filer==1.2.8
django-formtools==2.0
django-mptt==0.8.7
django-polymorphic==1.0.2
django-sekizai==0.10.0
django-treebeard==4.1.2
djangocms-admin-style==1.2.7
djangocms-flexslider==1.0.0
djangocms-text-ckeditor==3.5.0
djangorestframework==3.6.3
easy-thumbnails==2.4.1
html5lib==0.9999999
olefile==0.44
Pillow==4.2.1
six==1.10.0
Unidecode==0.4.21
